* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
}
.text2 {
  margin-top: 35px;
  font-size: 20px;
  line-height: 2.6;
  text-align: center;
}

.img-text-1-text-2 {
  width: 300px;
}
.two-pics {
  margin: 15px;
  display: flex;
  justify-content: center;
}
.img-text-1-text-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.img-text-1-text-1 {
  font-size: 18px;
  padding-top: 15px;
}
/* .img-text-1-text-2{
  width: 370px;
  position: absolute;
} */
.img-text-1-text-3 {
  font-size: 18px;
  padding-top: 30px;
  height: 35px;
}
.img-text-1-text-4 {
  padding-top: 30px;
  height: 50px;
}

.oneG2 {
  text-align: left;
  height: 300px;
  flex: 1;
}
.oneP {
  margin-right: 30px;
  float: right;
}
.caw {
  display: flex;
  justify-content: center;
  height: 400px !important;
}
.bee {
  display: flex;
  padding: 0;
  margin-top: -400px;
}
.goat {
  display: flex;
  padding: 0;
  margin-top: -400px;
}
.four {
  display: flex;
  padding: 0;
  margin-top: -400px;
}

.oneG {
  flex: 1;
  height: 300px;
}
.selectE2 {
  text-align: center;
  background-image: url("https://nybamboo.s3.us-west-1.amazonaws.com/img/contactForm.png");
  background-position: center;
  color: white;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 5px;
}

.go-text-2 {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.go-text-3 {
  margin: 30px auto;
  text-align: center;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  color: black;
  background-color: white;
  line-height: 40px;
}
