.title_2015 {
  text-align: center;
  color: #a708f7;
  font-size: 30px;
  margin: 45px 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hp-head-img {
  width: 80%;
  max-width: 160px;
  height: 60px;
  border: 1px solid green;
}
.hp-head3 {
  margin-top: 100px;
  text-align: center;
  color: #a708f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hp-head31 {
  margin-top: 400px;
  text-align: center;
  color: #a708f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hp-head3C {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  color: #a708f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.h2,
.h3 {
  text-align: center;
}
.h2 {
  color: #45b97c;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 5px;
}
.h3 {
  color: rebeccapurple;
}
.description {
  font-size: 18px;
  margin: 25px auto;
  text-align: center;
  width: 60%;
}
.selc_100 {
  background-color: " #f7f9fb";
}
.second {
  height: 80vh;
}
.selectB,
.selectC {
  height: 100vh;
  margin-top: 100px;
}
.selectD {
  margin: 240px 0px;
  height: 100vh;
}
li {
  text-align: left;
  line-height: 1.4;
  color: rgb(0, 184, 0);
}
.img-right-text-color {
  color: black;
}
.ziyuan {
  border: 1px solid green;
  border-radius: 20px;
  margin: 15px auto;
  height: 540px;
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chp-head-img {
  height: 90%;
  width: 90%;
}
.secD {
  background: " #f7f9fb";
}
.secDP {
  margin: 0px auto;
  display: block;
  background: " #f7f9fb";
}

.contact-us {
  text-align: center;
  margin-top: 60px;
  color: #a708f7;
}
.logo-1 {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}
.first-word {
  font-size: 30px;
}
.width-95 {
  width: 95%;
}

.title {
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
}
.qz-body-t {
  font-size: 40px;
  text-align: center;
}
