.title_2015 {
  text-align: center;
  color: #a708f7;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hp-head {
  width: 180px;
  height: 60px;
  margin: 50px 20px;
  border: 1px solid green;
}
.hp-head-img {
  width: 100%;
  height: 100%;
}
.hp-head3 {
  margin: 100px;
  text-align: center;
  color: #a708f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.h2,
.h3 {
  text-align: center;
}
.h2 {
  color: #45b97c;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 5px;
}
.h3 {
  color: rebeccapurple;
}
.description {
  font-size: 18px;
  margin: 25px auto;
  text-align: center;
  width: 60%;
}
.selc_100 {
  margin: 50px 0px;
  background-color: " #f7f9fb";
}
.second,
.selectB,
.selectC,
.selectD,
.selectE {
  height: 100vh;
  margin-top: 100px;
}
.selectD {
  margin-top: 200px;
  height: 100vh;
}
li {
  text-align: left;
  margin: 15px 0px;
  color: rgb(0, 184, 0);
}
.img-right-text-color {
  color: black;
}
.ziyuan {
  border: 1px solid green;
  border-radius: 20px;
  margin: 15px auto;
  height: 540px;
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chp-head-img {
  height: 90%;
  width: 90%;
}
.secD {
  background: " #f7f9fb";
}
.secDP {
  margin: 40px auto;
  display: block;
  background: " #f7f9fb";
}
.selectE {
  height: 40vh;
  width: 100%;
  margin-top: 500px;
}
.contactForm {
  width: 100%;
}
.selectE2 {
  text-align: center;
  background-image: url(./img/contactForm.png);
  background-position: center;
  color: white;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 5px;
}
.go-text-1 {
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
}
.go-text-2 {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.go-text-3 {
  margin: 30px auto;
  text-align: center;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
  line-height: 30px;
}
